@using LogReg.Models
@model User

<h1> Login to this Cool site!</h1>
<P><a style="float:right" href="/">Register</a></P>

<form asp-action="LoginProcess" asp-controller="LogReg" method="post">
    
    <span style="color:red" asp-validation-for="Email"></span><br>
    <p>Email: <input type="text" asp-for="Email"></p>

    <span style="color:red" asp-validation-for="Password"></span><br>
    <p>Password: <input type="password" asp-for="Password"></p>
    <button type="submit">Login</button>
</form>

<hr>

@{
    foreach (var i in @ViewBag.AllUsers)
    {
        <p>@i.FirstName  | @i.Email | <a href="delete/@i.UserId"> Delete</a></p>
    }
}