@using LogReg.Models
@model User

<h1>Welcome, @ViewBag.firstname @ViewBag.lastname!!!!</h1>

<h4>you have successfully logged In.</h4>


<a style="float:right" href="/logout"> | Logout</a>
<a href="/" style="float:right">Home</a> 